/*img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    height: 300px;
    border: 12px solid rgb(100, 100, 200);
  }


h1, fieldset {
    text-align: center
}

.username {
    font-weight: bold;
}
*/

img
{
    width: 100px;
    height: 300px;
    border-radius: 50px;
    float: left;
}

body
{
    background-image: url('images/bgAsset.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}