/*img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    height: 300px;
    border: 12px solid rgb(100, 100, 200);
  }


h1, fieldset {
    text-align: center
}

.username {
    font-weight: bold;
}
*/

h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: bolder;
}

h2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
}

p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.imgME
{
    width: 100px;
    height: 300px;
    border-radius: 10px;
    float: left;
}

.bg-continer
{
    position: relative;
    display: inline-block;
    width: 50%;
    max-width: 100px;
}

.responsive-image
{
    display: inline-block;
    width: 100%; /*scales img w/ contained width*/
    height: auto;
}

.text-overlay
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

body
{
    background-image: url('images/bgAsset.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

