.img-fluid{
    max-width: 100%;
    height:auto;
}

p{
    font-size: 14px;
}

.logo1{
    display: inline-block;
    margin-top: 30px;
}

.logo2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url('images/bgAsset.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0px;
    background-color: whitesmoke;
}

main{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.navbar{
    margin-top: 10px;
    display: inline-block;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

.nav-item
{
    list-style-type: none;
}

.navbar ul{
    border-radius: 20px;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    background-color: black;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: hsl(0, 0%, 90%);;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: white;
}

.navbar li{
    margin-right: 50px;
    margin-left: 50px;
}
.img-center{
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width: 50%;
}

/*
.glow-button{
    padding: 15px 30px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.glow-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(0, 234, 255, 0.3), rgb(255, 255, 255, 0.3));
    opacity: 0;
    transition: opacity 0.3s;
}

.glow-button:hover{
    background-color: white;
    color: white;
    box-shadow: 0 0 15px whitesmoke, 0 0 30px, whitesmoke, 0 0 45px whitesmoke;
}

.glow-button:hover::before{
    opacity: 1;
}
*/