h1, h2, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    background-color:white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: auto;
    margin-right: 0px;
}

.img-fluid{
    max-width: 100%;
    height:auto;
}

p{
    font-size: 14px;
}

.logo1{
    max-width: 300px;
    max-height: 50px;
    margin-top: 30px;
    margin-left: 30px;
    height:auto;
    display: block;
}

.logo2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

body{
    background-image: url('images/bgAsset.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    height: 100vh;
    background-color: whitesmoke;
}

main{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.navbar{
    margin-top: 10px;
    margin-right: 50px;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

.nav-item
{
    list-style-type: none;
}

.navbar ul{
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    background-color: black;
    margin: 0px;
}

.navbar a{
    color: hsl(0, 0%, 90%);;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: white;
}

.img-center{
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width: 50%;
}